{:customers {:customer {:visitor-id "30172100"
                        :username "heisenberg"
                        :customer-name "Heisenberg Martinez"
                        :last-access "1/07/2013 1:56:08 PM"
                        :contract-number "286998524537"
                        :visit-number "1234567"
                        :transaction-cost "0.35"
                        :bpapp-session-token "0ea3fdb0-e8e5-11e3-8d99-b8e85646bf68"}}
 :login-error {:code "900"
               :message "Usuario o contraseña no válida."}
 :session-error {:code 1111
                 :message "Su sesión ha expirado, por favor ingrese nuevamente."}
 :detectid-images {:detectid-image {:username "heisenberg"
                                    :id "2233442"
                                    :description "Breaking"
                                    :uri "/public/images/pollos_hermanos.jpg"}}
 :accounts {:accounts {:description "1063365620 Cta. Ahorros",
                       :type "Cta. Ahorros",
                       :available-balance "475.96",
                       :accounting-balance "475.96",
                       :customer-name "MARTINEZ HEISENBERG",
                       :number "1063365620",
                       :id "1"}}
 :accounts-detail {:account {:balance-date "2013/07/31",
                              :balance-time "18:31:46",
                              :customer-name "MARTINEZ HEISENBERG",
                              :number "1063365620",
                              :type "Cuenta de ahorros",
                              :description "1063365620 Cuenta de ahorros",
                              :officer-name "Cacique Pérez Marco Sucre",
                              :available-balance "475.96",
                              :accounting-balance "475.96",
                             :pending-balance "0.00"}}
 :accounts-transactions {:transactions
                         [{:description "0119027014000       -201462231",
                           :amount "76.20",
                           :type "ND",
                           :date "2014/01/14 16:53:55"}]}
 :water-services {:water-services [{:max-amount " 4,999.00",
                                    :company-id "909",
                                    :customer-name "TANIA MACIAS",
                                    :description "1347929 INTERAGUA ",
                                    :account-number "1347929",
                                    :type "03",
                                    :id "41"}]}
 :water-services-account {:water-service {:payment-data "\tEMP\tINTERAGUA\tAU\tDN\tUSD\t0\t20130611\t20130731\t0\tMACIAS BRIONES TANIA FABIOLA\tEC\t01\t0000000\t0000000\t1347929\tI\t0919137141\t0\t0\t0\t0\t0\t\t\t0909",
                                          :reference-number "0919137141",
                                          :account-number "1347929",
                                          :amount "0.00",
                                          :customer-name "MACIAS BRIONES TANIA FABIOLA"
                                          :supports-cc-payment true}}}
